* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.item {
    background-color: #ffa;
    margin: 0px 10px 20px;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .wrap {
        display: flex;
    }

    .item {
        width: 33.333333%;
    }
}