*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    display: flex; /*要放在父層元素撰寫*/
    background-color: yellow;
    height: 10%;
    width: 100%;
    align-items: center;
}

.leftAreaLogo {
    display: flex;
}

#menu_control {
    position: absolute;
    z-index: -2;
    opacity: 0;
}

#menu_control:checked ~ .sliding_menu {
    left: 0;
    transform: scaleX(1);
    transition: transform 2s ease-in-out;
    transform-origin: 0% 0%;
}

.rightAreaTitle {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.rightAreaTitle span {
    color: blue;
    font-size: 32pt;
    font-family: '標楷體';
}

.displayRow_1 {
    width: 100%;
    height: 41%;
    background-color: white;
    z-index: 0;
}

.imgCarousel_auto_play {
    position: relative; /* 如果不寫這行程式，圖片無法顯示到正中央的位置 */
    width: 100%;
    height: 41vh;
    z-index: 0; /*如果不寫這行程式，圖片無法顯示到正中央的位置 */
}

.imgCarousel_auto_play img {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    color: red;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    padding: 16px;
    top: 40%;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.tea_picking_and_winning_a_reward {
    width: 80%;
    height: 50%;
    margin: 0% 10% 23% 10%;
}

.two_div_block {
   width: 80%;
   height: 50%;
   margin: 0 2.1%;
   flex-direction: row;
   display: flex; /*設定在最接近的外層物件才有效*/
}

.two_div_block h3 {
    background-color: yellow;
    color: red;
    width: 132px;
    height: 42px;
    font-size: 24pt;
    font-family: '標楷體';
    font-weight: bold;
    position: absolute;
    margin-top: 2%;
    z-index: 1;
}

.first_img_block {
    width: 45%;
    height: 100%;
    margin: 0 28.1% 0 0;
}

.tea_picking_picture {
    width: 36%;
    height: 45%;
    background-size: cover;
    background-image: url("image/farmer.jpg");
    position: absolute;
    border-radius: 5px;
}

.second_img_block {
    width: 45%;
    height: 100%;
}

.honor {
    width: 36%;
    height: 45%;
    background-size: cover;
    background-image: url("image/honor.jpg");
    position: absolute;
    border-radius: 5px;
}



.contact_info {
    display: flex;
    text-align: center;
    position: absolute;
    top: 890px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    z-index: 2;
}

.sliding_menu {
    width: 5%;
    height: 90%;
    background-color: yellow;
    position: absolute;
    transform: scaleX(0);
    z-index: 1;
    left: -100%;
    transition: 0.5s;
}

.tea_menu {
    display: flex;
    flex-direction: column;
}

.tea_menu span{
    color: purple;
    font-size: 16px;
    font-family: '標楷體';
    left: 0;
}

.tea_menu a {
    color: rgb(40,148,0);
    font-size: 16px;
    font-family: '標楷體';
    left: 0;
}

@media screen and (max-width:767px){
    .title {
        display: flex; /*要放在父層元素撰寫*/
        background-color: yellow;
        height: 10%;
        width: 100%;
        align-items: center;
    }
    
    .leftAreaLogo {
        display: flex;
    }
    
    .rightAreaTitle {
        width: 92%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        flex-direction: row;
        text-align: center;
    }
    
    .rightAreaTitle span {
        color: blue;
        font-size: 27pt;
        font-family: '標楷體';
    }

    .sliding_menu {
        width: 26%;
        height: 40%;
        background-color: yellow;
        position: absolute;
        z-index: 1;
    }

    .imgCarousel_auto_play {
        position: relative;
        width: 100%;
        height: 41vh;
    }
    
    .imgCarousel_auto_play img {
        width: 100%;
        height: 100%;
    }

    .tea_picking_and_winning_a_reward {
        width: 100%;
        height: 50%;
        margin: 0 10% 0 10%;
        overflow: scroll;
        scroll-behavior: smooth;
    }
    
    .two_div_block {
       width: 100%;
       height: 50%;
       margin: 0 2.1%;
       flex-direction: row;
       display: flex; /*設定在最接近的外層物件才有效*/
       flex-wrap: wrap;
    }
    
    .first_img_block {
        width: 100%;
        height: 100%;
    }
    
    .tea_picking_picture {
        width: 85%;
        height: 45%;
        background-size: cover;
        background-image: url("image/farmer.jpg");
        position: absolute;
        border-radius: 5px;
    }
    
    .second_img_block {
        width: 85%;
        height: 100%;
    }
    
    .honor {
        width: 85%;
        height: 45%;
        background-size: cover;
        background-image: url("image/honor.jpg");
        position: absolute;
        border-radius: 5px;
        margin-top: 55%;
    }

    .two_div_block h3 {
        background-color: yellow;
        color: red;
        width: 132px;
        height: 42px;
        font-size: 24pt;
        font-family: '標楷體';
        font-weight: bold;
    }

    .first_img_block h3 {
        position: absolute;
        margin-top: 2%;
        z-index: 1;
    }

    .second_img_block h3 {
        position: absolute;
        margin-top: 58%;
        z-index: 1;
    }

    .contact_info {
        display: flex;
        text-align: center;
        position: absolute;
        /* top: 1270px; */
        margin-top: 10%;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 10%;
        flex-wrap: wrap;
        z-index: 2;
    }

    
}